@CHARSET "UTF-8";
/*--下面是定义通用的样式--*/
body
{
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;  
	margin:0px;
}

a,li a{
	/*用于清空所有的连接的下划线*/
	text-decoration:none;	
}

.header,.header,.contianer,.logo,.category{
	margin:0;
	padding:0;
}
.left{
	float:left;
}
.right{
	float:right;	
}
.clear{
	/*用于清空浮动来填充空间*/
	clear:both;
}
.clearR{
	/*可能被废弃*/
	clear:right;
}
.MarginCenter{
	/*可能被废弃*/
	margin:atuo;
}
.DivLink{
	/*用于插入一个满空间的DIV来插入该区域的全体链接*/
	width:100%;
	height:100%;
	text-decoration:none;
}
.container {
	/*用于将元素内的框居中;
	这样让背景的颜色可以延伸到窗体的最边缘*/
	margin:0px auto;	
	width:90%;
	max-width:960px;
	min-width:400px;
}
.NoBorder{
	border:none;
	
}


/*----下面是定义关于Header的样式----*/


.header{
	position:fixed;
	top:0;
	width:100%;
    z-index:3;
    background-color:#FFF;
    box-shadow: 0px 2px 10px #888888;
}
.category a li{
	/*用于定义最顶端的分类的字体样式*/
	color:#333;	
}
.logo{
	margin-top:12px;
	/*用于定义logo的格式*/
	float:left;
	height:3.5em;
}
.category{
	/*用于header的分类的格样式*/
	list-style-type:none;
	
}
.category a{
	/*用于显示正确的宽度空白*/
	float:left;
	margin:1.5em 0 1.5em 2em;
	color:black;
	font-size:18px;

}
.header{
	//margin:2em 0;	
}
.text{
	text-align:center;
}

.navigator{
    /*用于导航栏的创建的格式*/
    background-color:#f5f5f5;
    margin-top:5.45em;
}
.navigator .left h2{
	/*用于定义在于导航栏的字体显示*/
	color:#424242;
	font-weight:400;
	font-size:20px;
	line-height:30px;
}
.navigator .right .details{
	list-style-type:none;
    font-size:16px;
    line-height:10px;
}
.navigator .right .details li{
	float:left;
	display:inline;
	color:#616161;
    line-height:auto;
    margin:10px 0px ;
    padding:0 10px;
	text-decoration-color:#616161;
}
/*下面是定义关于图片内容的样式*/
.background{
	/*用于定义内容中的图片*/
	position:relative;
	left:0px;
	top:0px;
	z-index:0;
}
.background img{
	width:100%;
}
.opacity{
    opacity:0.5;
}    
.content{
    /*用于定义主要内容的对齐*/
	margin:1.5%;
	position:absolute;
	z-index:1;
    text-align:center;

}
.content.T,.content.B{
    width:97%;
    height:30%;
    max-height:300px;
	left:0;
}
.content.R,.content.L{
    top:0;
    width:30%;
    height:97%;
	
}


/*----下面定义是图片上有内容的内容显示需要引用的样式----*/


/*这里写的是关于文本框位置的信息所调用的默认定义*/
.content.T{
    top:0;
}
.content.R{
    right:0;
}
.content.L{
    left:0;
}
.content.B{
    bottom:0;
}
/*这里写的是关于文字的定义*/
.words h2{
	font-size:60px;
    margin:0;
    /*用于产生白色的文本阴影来增强现实效果*/
    text-shadow:0.5px 0.5px 0.5px #FFF;
    
}

.words h3{
	font-size:40px;	
	margin:0;
}
.words p{
    font-size:16px;
    margin:0;
}
/*下面是定义footer的样式*/
.footer{
	margin:0 0 1em 0;
	
}
.feature{
    margin:auto;   
}
.feature .left{
	margin:2em 0;
	padding:0 2em;
}
.border{
	border-right:1px solid #c8c8c8;
}
.feature h2 {
	font-size:0.8em;
	color:#424242;
	font-weight:400;
    font-size:16px;
    line-height:0px
}
.about .left{
    padding:0 3em;
}
.about .right h2{
	margin:15px 0;
    font-size:22px;
    color:#ff6700;
}
.about .right{
	text-align:center;
	padding-left:3em;
	border-left:1px solid #E0e0e0;
}
.about h2{
    font-size:0.8em;
    color:#424242;
    font-weight:400;
    font-size:16px;
    line-height:30px;
}
.about p{
    color:#424242;
    font-weight:400;
}
/*下面是定义只会在contact中的样式*/
.contacts{
	
	
	
}
/*下面定义的是只会用在Rooms里面的样式*/