@CHARSET "UTF-8";
/*--下面是定义通用的样式--*/
body
{
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;  
	margin:0px;
}

a,li a{
	/*用于清空所有的连接的下划线*/
	text-decoration:none;	
}

.header,.header,.contianer,.logo,.category{
	margin:0;
	padding:0;
}
.left{
	float:left;
}
.right{
	float:right;	
}
.clear{
	/*用于清空浮动来填充空间*/
	clear:both;
}
.container {
	/*用于将元素内的框居中;
	这样让背景的颜色可以延伸到窗体的最边缘*/
	margin:0px auto;	
	width:90%;
	max-width:960px;
	min-width:400px;
}
/*下面是定义关于Header的样式*/
.category a li{
	/*用于定义最顶端的分类的字体样式*/
	color:#333;	
}
.logo{
	/*用于定义logo的格式*/
	float:left;
}
.category{
	/*用于header的分类的格样式*/
	list-style-type:none;
	
}
.category a{
	/*用于显示正确的宽度空白*/
	float:left;
	padding-left:2em;
	color:black;
	font-size:18px;

}
.header{
	margin:2em 0;	
}
.text{
	text-align:center;
}

.navigator{
	/*用于导航栏的创建的格式*/
	background-color:#f5f5f5;
}

.navigator .left h2{
	/*用于定义在于导航栏的字体显示*/
	color:#424242;
	font-weight:400;
	font-size:18px;
	line-height:30px;
}
.navigator .right .details{
	list-style-type:none;
    font-size:16px;
    line-height:10px;
}
.navigator .right .details li{
	float:left;
	display:inline;
	color:#616161;
    line-height:30px;
	text-decoration-color:#616161;
}
/*下面是定义关于图片内容的样式*/
.background{
	/*用于定义内容中的图片*/
	position:relative;
	left:0px;
	top:0px;
	z-index:0;
}
.background img{
	width:100%;
}
.content{
    /*用于定义主要内容的对齐*/
	position:absolute;
	z-index:1;
}
/*下面定义是内容是内容需要引用的样式*/
.content h2{
	
	font-size:60px;
	
	
}

.content h3{
	font-size:40px;
	
	
	
}
.content p{

}